<a href="https://colab.research.google.com/github/Anuraag-8/CodeForGood2022/blob/main/Codegyan_160120737147.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1)Write a program to find whether a given year is a leap year or not satisfying all the possible condition for a leap year?

year=int(input("Enter year to be checked:"))
if(year%4==0 and year%100!=0 or year%400==0):
    print("The year is a leap year!")
else:
    print("The year isn't a leap year!")

Enter year:2020
 leap year!

In [ ]:
#2. Write a program to Convert temperature entered in Fahrenheit to Celsius ?


f = float(input("Enter temperature : "))
print((f-32)*100/180)

Enter temperature : 100
37.77777777777778

In [ ]:
#3.Write a program to calculate factorial of a number by accepting input from the user??

def fac(n):
  if n==1:
    return 1
  else:
    return n*fac(n-1)
x = int(input("Enter integer : "))
print(str(x)+"!=",fac(x))

Enter integer : 4
4!= 24

In [ ]:
# 4)Write a program to calculate the sum and average of First n natural numbers by taking n as input from the user?

n = int(input("Enter an int : "))
print("Sum = ",n*(n+1)/2)
print("Avg = ", (n+1)/2)

Enter an int : 4
Sum =  10.0
Avg =  2.5

In [ ]:
# 5)Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,


c=0
for i in range(1,201):
  if i%7==0 and i%5!=0:
    print(i,end=", ")
    c+=1
print("Count = ",c)

7, 14, 21, 28, 42, 49, 56, 63, 77, 84, 91, 98, 112, 119, 126, 133, 147, 154, 161, 168, 182, 189, 196, Count =  23

In [ ]:
# 6)Write a program to find the sum of squares of first 20 Odd numbers?

n = 20
print(int(n*(n+1)*(2*n+1)/6))

2870

In [ ]:
# 7)Write a program that accepts a sentence and calculate the number of letters and digits.

st = input("Enter the string : ")
l = 0
d = 0

for i in st:
  for j in i:
    if j.isdigit():
      d+=1
    elif j.isalpha():
      l+=1
print("Number of Digits = ",d)
print("Number of Letters = ",l)

Enter the string : Sarath167
Number of Digits =  3
Number of Letters =  6

In [ ]:
# 8)write a program to print the multiplication table of n,by taking n as input from user

n = int(input("Enter n val : "))

for i in range(10):
  print(n,"x",i+1," = ",n*(i+1))

Enter n val : 6
6 x 1  =  6
6 x 2  =  12
6 x 3  =  18
6 x 4  =  24
6 x 5  =  30
6 x 6  =  36
6 x 7  =  42
6 x 8  =  48
6 x 9  =  54
6 x 10  =  60

In [ ]:
# 9)Write a program to calculate the area of the traingle by accepting base and height as integer/float input from the user?

bs = float(input("Enter the base length : "))
h = float(input("Enter the height : "))

print("Area of triangle ",bs*h/2,"sq units")

Enter the base length : 7
Enter the height : 99
Area of triangle  346.5 sq units

In [ ]:
# 10)Write a program to find the greatest number from three numbers by accepting three integer inputs from the user?

a = int(input('first number : '))
b = int(input('second number : '))
c = int(input('third number : '))
largest = 0 
if a > b and a > c : 
  largest = a 
elif b > c : 
  largest = b 
else : largest = c 
print(largest, "is the largest numbers.")

Enter first number : 12
Enter second number : 34
Enter third number : 21
34 is the largest of three numbers.

In [ ]:
# 11)Write a program that prompts the user to enter a number between 1-7 and then displays the corresponding day of the week.

d = {1:"Sunday",2:"Monday",3:"Tuesday",4:"Wednesday",5:"Thursday",6:"Friday",7:"Saturday"}
i=int(input("Enter  a number from 1-7 : "))
print(d[i])

In [ ]:
# 12)Write a Python program to convert Imperial Units of Inches with the Metric Units of 
# Centimetres by if-elif-else by accepting float value of units and ask whether inches or cms 
# from the user and then convert that means two inputs from the user?

mag = float(input("Enter the magnitude : "))
unts = input("Enter the type of i/p : ")

if unts=="inches":
  print(mag*2.54)
elif unts=="cms":
  print(mag/2.54)

In [ ]:
# 13)write a program to determine whether the character entered is a vowel or not by using logical operator?

c = input("Enter the character : ")

if c=='a' or c=='e' or c=='i' or c=='o' or c=='u' or c=='A' or c=='E' or c=='I' or c=='O' or c=='U':
  print("vowel")
else:
  print("Consonant")

Enter the character : N
Consonant

In [ ]:
# 16)Create a Dictionary from the below list
# a = ['Codegnan','Saketh','Python'] and the dictionary should be as d = {'Codegnan':'Vjwda', 'Saketh':'Vjwda','Python':'Vjwda'}
a = ['Codegnan','Saketh','Python']
b = ['Vjwda','Vjwda','Vjwda']

d = dict(zip(a,b))
print(d)

{'Codegnan': 'Vjwda', 'Saketh': 'Vjwda', 'Python': 'Vjwda'}

In [ ]:
# 17)Write a Python program to check if the given value exists in dictionary or not using if-else by accepting value as string from the user?

# Your input is 
# a ={'sno':1,'name':'Codegnan','place':'Vijayawada'}

j = input("Enter the val: ")
a ={'sno':1,'name':'Codegnan','place':'Vijayawada'}

if i in a:
  print("Found")

Enter the val: sno
Found

In [ ]:
# 18)Merge two Python dictionaries into one new dictionary?

# your inputs are as follows:
# a = {'sno':[1,2,3,4],'names':['Codegnan','Saketh','Python']}
# b={'Gender':{'Male','Female'},'place':['Vijayawada','Mnglgiri']}

a = {'sno':[1,2,3,4],'names':['Codegnan','Saketh','Python']}
b={'Gender':{'Male','Female'},'place':['Vijayawada','Mnglgiri']}

for i in b.keys():
  a[i] = b[i]
print(a)

{'sno': [1, 2, 3, 4], 'names': ['Codegnan', 'Saketh', 'Python'], 'Gender': {'Male', 'Female'}, 'place': ['Vijayawada', 'Mnglgiri']}

In [ ]:
# 19)With a given number n, write a program to generate a dictionary that contains (i, i*i) 
# such that is an integral number between 1 and n (both included)and then the program should print the dictionary.
# Suppose the following input is supplied to the program:
# 8

n = int(input("Enter the number : "))
d = {}
for i in range(1,n+1):
  d[i]=i*i
print(d)

Enter the number : 9
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
# 20)Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated 
# sequence after sorting them alphabetically.

s = input("Enter the string: ")

s = s.split(', ')
s.sort()
print(s)

Enter the string: Anuraag, Adarsh, Vaishnavi
['Adarsh', 'Anuraag', 'Vaishnavi']

In [ ]:
# 21)Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
# The numbers obtained should be printed in a comma-separated sequence on a single line.

for i in range(1000,3001):
  flg = True
  for j in str(i):
    if int(j)%2!=0:
      flg = False
      break
  if flg:print(i,end=" ")

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

In [ ]:
# 22) Write a Python program to print Prime Numbers within given range such as accepting two inputs from user and print in that range?


n1, n2 = map(int,input("Enter n1 and n2: ").split())
for i in range(n1,n2+1):
  flg = True
  for j in range(2,n//2):
    if i%j==0:
      flg = False
      break
  if flg:
    print(i,end=" ")

Enter n1 and n2: 100 200
101 103 107 109 113 115 119 121 125 127 131 133 137 139 143 145 149 151 155 157 161 163 167 169 173 175 179 181 185 187 191 193 197 199

In [ ]:
# 23)Write a Python Program to display which letters are present in both the strings by accepting two strings from user?

s = set()

s1,s2 = map(str,input("Enter n1 and n2: ").split())

for i in range(len(s1)):
  if s1[i] in s2:
    s.add(s1[i])
print(s)

Enter n1 and n2: Anuraag Affan
{'A', 'n', 'a'}

In [ ]:
# 24)Write a Python Program to find the factors of a number by accepting input from the user?

n = int(input("Enter the number: "))

for i in range(1,n//2+1):
  if n%i==0:
    print(i,end=" ")

Enter the number: 100
1 2 4 5 10 20 25 50

In [ ]:
# 25)Write a Python program to count the even numbers in the list by accepting list as input from the user?

a = map(int, input().split())

c=0

for i in a:
  if i%2==0:
    c+=1
print(c)

12 13 14 15
2

In [ ]:
# 26)Write a Python program which iterates the numbers from 1 to 50 (including 50).
# For multiples of 3 print "Codegnan" instead of number in output,and for the multiples of five print "Python". 
# For numbers which are multiples of both three and five print "I love Codegnan".

for i in range(1,51):
  if i%15==0:
    print("I love Codegnan")
  elif i%5==0:
    print("Python")
  elif i%3==0:
    print("Codegnan")

Codegnan
Python
Codegnan
Codegnan
Python
Codegnan
I love Codegnan
Codegnan
Python
Codegnan
Codegnan
Python
Codegnan
I love Codegnan
Codegnan
Python
Codegnan
Codegnan
Python
Codegnan
I love Codegnan
Codegnan
Python

In [ ]:
# 27)Write a Python program to convert month name to a number of days by accepting month name from the user?

d = {"January":31,
     "February":28,
     "March":31,
     "April":30,
     "May":31,
     "June":30,
     "July":31,
     "August":31,
     "September":30,
     "October":31,
     "November":30,
     "December":31}

m = input()

print(d[m])

December
31

In [ ]:
# 28)Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
# Suppose the following input is supplied to the program:
# 14,7,5,33,22,8

l = list(map(str,input().split(',')))

print(l)
print(tuple(l))

14,7,5,33,22,8
['14', '7', '5', '33', '22', '8']
('14', '7', '5', '33', '22', '8')

In [ ]:
# 29)Write a Python Program to accept two numbers from user and find the sum and
# product  of two numbers,your code should be in two lines only?

a,b = map(int,input().split())
print("Product = ",a*b,"Sum = ",a+b)

3 5
Product =  15 Sum =  8

In [ ]:
# 30)write a program that displays all leap years 
# from 1900-2101 along with the count of leap years in given range by satisfying all the conditions for a Leap year?

for i in range(1900,2102):
  if i%4==0 and i%100!=0 or i%400==0:
    print(i,end=" ")

1904 1908 1912 1916 1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016 2020 2024 2028 2032 2036 2040 2044 2048 2052 2056 2060 2064 2068 2072 2076 2080 2084 2088 2092 2096

In [ ]:
# 31)Write a Python Program to find the sum of values in the dictionary?
# Dictionary is a = {'Codegnan': 250,'Saketh':300,'Python':250,'Monday':200}

a = {'Codegnan': 250,'Saketh':300,'Python':250,'Monday':200}
print(sum(a.values()))

1000

In [ ]:
# 32)Write a Python program to check a triangle is equilateral, isosceles or scalene by accepting 3 sides as input from the user?

a = set(map(int,input().split()))


if len(s)==1:
  print("Equilateral")
elif len(s)==2:
  print("Isoceles")
else:
  print("Scalene")

2 3 4
Scalene

In [ ]:
# 33)Write a Python Program to print the following pattern?

# 1                                                                                                             
# 22                                                                                                            
# 333                                                                                                           
# 4444                                                                                                          
# 55555                                                                                                         
# 666666                                                                                                        
# 7777777                                                                                                       
# 88888888                                                                                                      
# 999999999 

for i in range(1,10):
  for j in range(i):
    print(i,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [ ]:
# # 34)Write a Python program to add 'ing' at the end of a given string (length should be at least 3). 
# If the given string already ends with 'ing' then add 'ly' instead. 
# If the length of the given string is less than 3, leave it unchanged.

s = input()

if len(s)<3:
  print(s)
elif s[-1:-4:-1]=="gni":
  print(s+"ly")
else:
  print(s+"ing")

corresponding
correspondingly

In [ ]:
# # 35)Write a Python program that takes multiple words as input from user (store in list) 
# and return the longest word and the length of the longest one?

l = 0

s = list(map(str,input().split()))

for i in s:
  if len(i)>l:
    l=len(i)
    w = i
print("Longest Word = ",w,"Len=",l)

Anuraag Adarsh Harshavardhan Dheeraj Ameya Eshwar
Longest Word =  Harshavardhan Len= 13

In [ ]:
# 36)Write a Python program to remove the list values in the given dictionary?

# your dictionary is :
# a  = {'Monday': [10, 20, 30], 'Tuesday': [20, 30, 40], 'Wednesday': [12,15,16,28],'Thursday':[52,12,36,6],
#       'Friday':[15,16,28,9,25],'Saturday':[15,25,35,45]}

a  = {'Monday': [10, 20, 30], 'Tuesday': [20, 30, 40], 'Wednesday': [12,15,16,28],'Thursday':[52,12,36,6],
     'Friday':[15,16,28,9,25],'Saturday':[15,25,35,45]}
for i in a:
  a[i].clear()
print(a)

{'Monday': [], 'Tuesday': [], 'Wednesday': [], 'Thursday': [], 'Friday': [], 'Saturday': []}

In [ ]:
# 37)Define a function that can receive two integral numbers in string form and compute their sum and then print it in console

def add(a:int,b:int):
  return a+b

a,b = map(int,input().split())
print(add(a,b))

43 47
90

In [ ]:
# 38)Evalue the conditions for the given below logic:

# 	f(x)  =  { 3x-1  (x>1)
# 		   x+2   (-1<=x<=1)
# 		   5x+3  (x<=-1       }

def f(x):
  if (x>1):return 3*x-1 
  if(-1<=x<=1): return x+2 
  if(x<=-1): return 5*x+3  
print(f(0.88))

2.88

In [ ]:
# 39)Your input string is a = "silent" output string should be as b = "listen" ?

if input()=="silent":
  print("listen")

silent
listen

In [ ]:
# 40)Accept Username and password as strings from user and validate
#  username with password,such as if username and password are matching login success

username = "anuraagb@gmail.com"
password = "youlooksohot"

u = input("Enter Username : ")
p = input("Enter Password : ")

if u == username and p == password:
  print("Login Successfull")
else:
  print("Login Failed")

Enter Username : anuraagb@gmail.com
Enter Password : youlooksohot
Login Successfull

In [ ]:
# 41)Define a function that can accept two strings as input and 
# print the string with maximum length in console. 
# If two strings have the same length, then the function should print all strings line by line.

def mxl(s,t):
  if len(s)==len(t):
    print(s,"\n",t)
  elif len(s)>len(t):
    print(s)
  else:
    print(t)
mxl("Anuraag","AdarshS")

Anuraag
 AdarshS

In [ ]:
# 42)Define a function which can print a dictionary where the keys are numbers between 1 and 15 (both included) 
# and the values are square of keys.

d = {}
def printd():
  for i in range(1,16):
    d[i]=pow(i,2)
  print(d)
printd()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
# 43)Define a function which can generate a list where the values are square of numbers between 1 and 15 (both included). 
# Then the function needs to print the first 5 and last 5 elements in the list.

import numpy as np
a = np.array(range(1,16))
for i in range(len(a)):
  a[i]*=a[i]
x = list(a)
print(x[:5]+x[-5:])

[1, 4, 9, 16, 25, 121, 144, 169, 196, 225]

In [ ]:
# 44)Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n input by console (n>0).

# Suppose If the following n is given as input to the program:5
# Then, the output of the program should be:
# 3.55

n = int(input())
s = 0
for i in range(1,n+1):
  s+=i/(i+1)
float("{:.2f}".format(s))

5

3.55

In [ ]:
# 45)Write a Function to generate all sentences where subject
#  is in ["I", "You"] and verb is in ["Play", "Love"] 
#  and the sport is in ["Hockey","Cricket"].

s =["I", "You"]
v = ["Play", "Love"] 
p = ["Hockey","Cricket"]

for i in s:
  for j in v:
    for k in p:
      print(i+" "+j+" "+k)

I Play Hockey
I Play Cricket
I Love Hockey
I Love Cricket
You Play Hockey
You Play Cricket
You Love Hockey
You Love Cricket

In [ ]:
# 46)With a given list [12,24,35,24,88,120,155,88,120,155], 
# write a Function to print this list after removing all duplicate values with original order reserved.

def func():
  print(list(set([12,24,35,24,88,120,155,88,120,155]))[::-1])
func()

[120, 88, 24, 155, 12, 35]

In [ ]:
# 47)Write a Function that accepts a string from user and gives the output of vowels
#  in given string as list along with the length of the list?

import collections

def vo(s):
  k=collections.deque()
  for i in s:
    for j in i:
      if j in "aeiou":
        k.append(j)
  return k,len(k)
print(vo(input()))

Anuraag is an assole
(deque(['u', 'a', 'a', 'i', 'a', 'a', 'o', 'e']), 8)

In [ ]:
# 48)Create a Function which includes your name,age,designation 
# and years of Experience,and assign a different name to the function and call it through the new name?

def fun(name="Anuraag",age=69,design="Spy",exp=20):
  print(name,age,design,exp)
a = fun()
a

Anuraag 69 Spy 20

In [ ]:
# 49)Write a function for checking the speed of drivers. This function should have one parameter: speed.

#    -->If speed is less than 70, it should print "Riding Well".

#    -->Otherwise, for every 5km above the speed limit (70), it should give the driver one demerit point and 
# print the total number of demerit points. For example, if the speed is 80, it should print: "Points: 2".

#    -->If the driver gets more than 10 points, the function should print: "License suspended"

def func(speed):
  if speed<70:print("Riding Well")
  else:
    r = (speed-70)//5
    if r>10:
      print("License suspended")
    else:
      print("Points : ",r)

func(int(input()))

99
Points :  5

In [ ]:
# 50)Write a function that returns the sum of multiples of 3 and 5 between 0 and given limit. 
# For example, if limit is 20, it should return the sum of 3, 5, 6, 9, 10, 12, 15, 18, 20

def sm(n):
  s = 0
  for  i in range(n+1):
    if i%15==0:
      s+=i
  return s
sm(int(input()))

99

315

In [ ]:
# 51)Write a Function to count the number of trailing zeros in an Integer?

# such as if your input is 12563000 output should be 3 as we have 3 zeros trailing

def trl(n):
  t = 0
  s = str(n)
  s = s[::-1]
  for i in s:
    if i=='0':t+=1
  return t

trl(int(input()))

928317000000

6

In [ ]:
# 52)Create a Function Accept a number from user as input and 
# generate Fibonacci series till given input such as if input is 10 your output should be as below and should be in single line
 
# 0 1 1 2 3 5 8

def fib(n,a,b):
  if a<n:
    print(a,end=" ")
    fib(n,b,a+b)
fib(10,0,1)

0 1 1 2 3 5 8

In [ ]:
# # 53)Create a Function Same above question accept number from user and 
# print Fibonacci Series according to user desired values such as if he/she gives input as 10 series
#  should have 10 numbers as below

# # 0 1 1 2 3 5 8 13 21 34

def fib(n,a,b):
  if n:
    print(a,end=" ")
    fib(n-1,b,a+b)
fib(10,0,1)

0 1 1 2 3 5 8 13 21 34

In [ ]:
# 54)Write a Python program to print all the .txt and .py file names from your Desktop location?

import os
path = "C:\Users\mohan\Desktop"
dir_list = os.listdir(path)
print(dir_list)
for i in range(len(dir_list)):
  if dir_list[i][-3:]=='txt' or dir_list[i][-3:]=='.py':
    print(dir_list[i])

SyntaxError: ignored

In [ ]:
# 55)Write a Python program to write the below list data
# lines = ['Codegnan', 'We enjoy learning in Codegnan','Bubyee'] into a new text file line by line such as below

# Codegnan
# We enjoy learning in Codegnan
# Bubyee

L = ['Codegnan\n', 'We enjoy learning in Codegnan\n','Bubyee\n']
# Writing to a file
file1 = open('myfile.txt', 'w')
file1.writelines((L))
file1.close()

# Using readline()
file1 = open('myfile.txt', 'r')
count = 0
while True:
  count += 1
# Get next line from file
  line = file1.readline()
# if line is empty
# end of file is reached
  if not line:
    break
  print("{}".format(line.strip()))
file1.close()

Codegnan
We enjoy learning in Codegnan
Bubyee

In [ ]:
# 56)Write a Python program to generate 10 6 digit differnt OTPS with an interval of 5
import random
import math
import time
for i in range(1,11):
  print(random.randint(pow(10,6), 9999999))
  time.sleep(5)

7363650
4836577
3618395
6757179
8298946
6965447
2541665
7053201
4611389
1375249

In [ ]:
# 57)Write a Python program to accept 3 inputs
# as date,month and year from user and convert it
# to date format and then give the corresponding
# month name,day of the week for given date,along with day number of the year?
import datetime
import calendar
from datetime import date

date_val = date(2007, 7, 23)

day_of_year = date_val.strftime('%j')
def findDay(date):
  born = datetime.datetime.strptime(date, '%d %m %Y').weekday()
  print (calendar.day_name[born])
date_val = date(2019, 2, 3)
day_of_year = date_val.strftime('%j')
print(day_of_year)
date = '03 02 2019'
born = datetime.datetime.strptime(date, '%d %m %Y').weekday()
findDay(date)
print(calendar.month_name[born])

034
Sunday
June

In [ ]:
# 58)Write a Python program to calculate the number of days between two given dates,as
from datetime import date
date1 = date(2014, 7, 2)
date2 = date(2014, 7, 11)
delta = date2 - date1
delta

datetime.timedelta(days=9)

In [ ]:
# 59)Write a Python program to read a random line from the 
# given text file,you can use any text file which is already present -->random module

with open('test.txt', 'w') as writefile:
  writefile.write("This is line A")
  writefile.write("\n This is line ABC")

import random
def random_line(fname):
  lines = open(fname).read().splitlines()
  return random.choice(lines)
print(random_line('test.txt'))

 This is line ABC

In [ ]:
# 60)Write a Python program by creating a Function to append text to a file and display 
# the text.Your output should look as below line by line

# Zen of Python
# Easter Eggs

with open('test.txt', 'w') as writefile:
  writefile.write("Zen of Python")
  writefile.write("\nEaster ")
file_object = open('test.txt', 'a')
file_object.write('Eggs')
file_object.close()
file_object = open('test.txt', 'r')
con=file_object.read()
print(con)
file_object.close()

Zen of Python
Easter Eggs